@import '../../../styles';

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - $header-height);
}

.list {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  background-color: $color-secondary;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-element {
  display: flex;
  width: calc(100% - 30px);
  min-height: 40px;
  //align-items: center;
  padding: 10px 30px 10px;
  color: $color-text;
  font-family: Bahnschrift, sans-serif;
}

.map-frame {
  height: 100%;
  width: calc(100% - 400px);
}

#map {
  height: 100%;
}


