/* You can add global styles to this file, and also import other style files */

$header-height: 100px;
$color-primary: #556F44;
$color-secundary: #95BF74;
$color-extra1: #659B5E;
$color-extra2: #95BF74;

body, html {
  margin: 0;
  padding: 0;
}
