/* You can add global styles to this file, and also import other style files */

$header-height: 100px;
$color-primary: #95BF74;
$color-secondary: #220901;
$color-extra1: #556F44;
$color-extra2: #659B5E;

body, html {
  margin: 0;
  padding: 0;
}

.custom-tooltip {
  background-color: $color-secondary !important;
  color: white !important;
  font-family: Bahnschrift, sans-serif;
  font-size: 9pt;
  border: 2px solid $color-primary !important;
  border-radius: 15px !important;
  //box-shadow: none !important;
  padding: 1px 8px !important;
}
.custom-tooltip::before {
  opacity: 0 !important;
}

.custom-marker:hover {
  filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.3));;
}
