@import '../../App';

body {
  font-size: 18px;
}

.aboutus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding-top: 30px;
  text-align: center;
}


.aboutus * {
  text-align: center;
}

.aboutus h2 {
  margin-bottom: 1rem;
  text-align: center;
  color: var(--color-secondary);
}

.aboutus p {
  margin-bottom: 10px;
}

#t1 {
  padding-top: 40px;
}

.aboutus a {
  color: var(--color-secondary); /* Fallback: z. B. Blau */
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  transition: opacity 0.3s ease;
}

.aboutus a:hover {
  opacity: 0.8;
  text-decoration: none;
  color: var(--color-extra1);
}