@import '../../App';

#header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height:var(--header-height);
  width: var(--header-width);
  z-index: 999;
  white-space: nowrap;

  transition: 0.5s ease-in-out;

  background: var(--color-secondary);
  color: var(--color-text2);
  font-family: var(--font-family-primary), sans-serif;
}

.header-extended {

  .extend-button {
    opacity: 0 !important;
  }

  .title-container {
    opacity: 1 !important;
  }
}

.identity {
  display: flex;
  align-items: center;
}

.company {
  padding-left: 10px;
  font-weight: bold;
  font-size: 16pt;
  color: var(--color-primary);
}

.logo {
  margin-left: 14px;
  filter: brightness(999);
}

.title-wrapper {
  display: flex;
  position: fixed;
  left: var(--list-width);
  width: calc(100svw - var(--list-width));
}
.title-container {
  opacity: 0;
  justify-content: center;
  text-align: center;
  padding: 20px 30px;
  margin: 0 10px;
  transition: 0.5s ease-in-out;
  cursor: pointer;

  &:first-child {
    color: var(--color-primary);
  }
  &:last-child {
    margin-left: auto;
  }
  &:hover {
    color: var(--color-extra1);
  }
}

.extend-button {
  position: fixed;
  padding: 0 10px;
  font-size: 30px;
  left: calc(var(--header-width) - 50px);
  opacity: 0.6;
  transition: 0.5s ease-in-out;
}

a {
  text-decoration: none;
  color: var(--color-text2);
}
