<h2>About Us</h2>

<p>So far it lists 39 Repair Cafés, but we are working on getting the information from more confirmed.</p>

<p>The website is open source, see the source code on Github.</p>

<p>All information on this website is Augsburg specific, for more information on Repair Cafés in general see repaircafe.org.</p>

<p>If you would like to add a Repair Café or if any information is incorrect or incomplete, we would greatly appreciate an email. For adding, we prefer to use this questionnaire (currently in Dutch).</p>

<p>We are still looking for help with:</p>

<ul>
  <li>Community management. Someone who supports in the communication with the Repair Cafés so that the agenda is as accurate and complete as possible and stays that way.</li>
  <li>Visual / UI / UX Design. Someone who can contribute ideas on structure, navigation, how things should work and what it should look like. We have a Figma file full of designs we'd love to share with you.</li>
  <li>Development. Mainly front-end development. Someone who can possibly co-develop and act as a backup. Someone with knowledge of for example React, Next and Tailwind. See the code on Github for more info.</li>
</ul>

<p>Contact</p>

<p>info&#64;repaircafe.fixit</p>
