@import '../../App';

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100svw;
  height: 100svh;

  font-family: var(--font-family-primary), sans-serif;
  color: var(--color-secondary);
}

.list {
  display: flex;
  flex-direction: column;
  width: var(--list-width);
  margin-top: var(--header-height);
  height: calc(100% - var(--header-height));
  background-color: var(--color-primary);
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 999;
}
::-webkit-scrollbar {

  -webkit-appearance: none;
  width: 15px;
  background-color: var(--color-extra2);
}

::-webkit-scrollbar-thumb {
  background-color: lightgrey;
}

.list-element {
  display: flex;
  flex-direction: column;
  width: calc(100% - 32px);
  padding: 10px 14px 12px 18px;
  opacity: 0.9;
  cursor: pointer;

  .list-element-name {
    font-weight: bold;
    font-size: 16pt;
  }

  .list-element-description {
    font-size: 12pt;
  }

  .list-element-type {
    font-size: 9pt;
    text-align: end;
    margin-top: 2px;
  }
}

.list-element:hover, .list-element-hover {
  backdrop-filter: contrast(0.8);
  opacity: 1;
}

.list-element-focus {
  background-color: var(--color-secondary);
  color: var(--color-text2);
}

#map-frame {
  height: 100%;
  width: calc(100dvw - var(--list-width));
  //margin-left: 0;
  //transition: .5s ease-in-out;
}

#details {
  position: absolute;
  bottom: 0;
  top: var(--header-height);
  left: var(--list-width);
  transform: translateX(-100%);
  transition: .5s ease-in-out;
  display: flex;
  width: var(--detail-width);
  background: var(--color-extra1);
  z-index: 998;
}
.show-details {
  transform: translateX(0) !important;
}

#map {
  height: 100svh;
}
#details {
  color: white;
  display: flex;
  flex-direction: column;
}
.detail-head {
  font-weight: bold;
  font-size: 30pt;
  padding: 30px 25px 10px 20px;
}

.detail-description {
  padding: 10px 25px 30px 20px;
}

.detail-type {
  padding: 20px 25px 20px 20px;
  text-align: right;
}