@import '../../../styles';


#header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height:$header-height;
  width:  calc($list-width - 28px);
  padding: 0 14px;
  z-index: 999;

  transition: 0.6s ease-in-out;

  background: $color-secondary;
  color: $color-text2;
  font-family: $font-family-primary;
}

.header-extended {
  width: 100vw !important;

  .extend-button {
    display: none !important;
  }
}

.identity {
  width: 78%;
  display: flex;
  align-items: center;
}

.company {
  padding-left: 10px;
  font-weight: bold;
  font-size: 16pt;
}

.logo {
  filter: brightness(999);
}

.title-container {
  display: none;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.extend-button {
  display: flex;
  padding: 0 10px;
  font-size: 30px;
  height: $header-height;
  width: 22%;
  justify-content: center;
  align-items: center;
}



